<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV BLOGS {% block title%}{%endblock%}</title>


    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
    {% block head%}{%endblock%}
</head>
<body>
    <progress id="progress-bar" class="progress " value="90" max="100"></progress>
    <header>
        <h1>ABlog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

<!-- This is the message flashing box -->
    <div class="container mt-4">
        <!-- Flash Messages Display -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-message" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    </div>


    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2020 ABlog</p>
    </footer>
    

    
</body>
</html>